[user]
    name = barry-circular
    email = barry@joincircular.com
[remote "origin"]
    url = git@circular.github.com:barry-circular/deepgram-starters/django-live-transcription.git
    fetch = +refs/heads/*:refs/remotes/origin/*%
